body {
    overscroll-behavior: contain;
}
  
#wrapper
{
    position:absolute;  
    top:0px;
    left:0px;  
}

#canvas
{
    background-color:transparent; 
    position:absolute;
    z-index:1;
}
#shadowCanvas
{
    background-color:#f5fbff;
    position:absolute;
    top:0px;
    left:0px;
    z-index:0;
}

@font-face {
    font-family: talkFont;
    src:url("/fonts/SLEEP.ttf");
}

#typewriter
{
    font-size: 3em;
    font-family: talkFont;
}

#speechdiv
{
    z-index: 1;
    display: block;
    position:absolute; 
    background: white;
    top: 20%; bottom: 20%;
    left: 25%; right: 25%;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 20px 20px 20px #889299;
}

@media (max-width: 970px) and (max-aspect-ratio: 10/9), (orientation: portrait)
{ 
    #speechdiv
    {
        top: 20%; bottom: 5%;
        left: 5%; right: 5%;
    }
}